.popup {
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    min-height: 100%;
  }