.popup__image-annotation {
    position: absolute;
    color: white;
    bottom: -30px;
    width: 291px;
    height: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}