.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 0;
    align-self: center;
    margin-left: 17px;
    transition: .3s ease;
    outline: none;
  }

  .profile__edit-button:hover {
    opacity: 0.6;
  }