.elements {
    display: grid;
    max-width: 882px;
    width: 68.9%;
    min-width: 320px;
    margin: 46px auto 0;
    gap: 20px 18px;
    grid-template-rows: repeat(2, 361px);
    grid-template-columns: repeat(3, 282px);
}

@media all and (min-width: 768px) and (max-width: 1279px) {
    .elements {
    grid-template-rows: repeat(3, 361px);
    grid-template-columns: repeat(2, 282px);
    width: 582px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .elements {
    grid-template-rows: repeat(6, 361px);
    grid-template-columns: repeat(1, 282px);
    min-width: 282px;
    width: 282px;
    margin: 36px auto 0;
    }
}