.element__like-button {
    min-width: 21px;
    height: 19px;
    border: none;
    transition: .3s ease-in;
    padding: 0;
    margin-left: 25px;
    background: white;
}


.element__like-button:hover {
    opacity: .6;
    cursor: pointer;
    transform: scale(1.2);
}

.element__like-button:focus {
    outline: none;
}