.profile__job {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    margin: 16px 0 0;
  }

  @media all and (min-width: 320px) and (max-width: 1023px) {
    .profile__job {
      text-align: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.21;
      text-align: center;
      margin-top: 14px;
    }
  }