.popup__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    border: none;
    color: black;
    width: 358px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 54px auto 0;
}

.popup__text:last-of-type {
    margin: 29px auto 0;
}

.popup__text:focus {
    outline: none;
}

@media all and (min-width: 320px) and (max-width: 500px) {
    .popup__text {
        width: 250px;
    }
}

